.poem-list-wrapper {
  /* display: flex; */
  flex-direction: row;
}

input[type="button"] {
  position: absolute;
  top: 140px;
  background-color: var(--color-fg);
  color: var(--color-bg);
  border: solid 2px var(--color-bg);
  border-radius: 20px;
  padding: 20px;
  cursor: pointer;
}

input[type="button"][disabled] {
  opacity: 0.3;
}

input#prev-btn {
  left: 0;
  border-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

input#next-btn {
  right: 0;
  border-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
