.poem-card-content,
.poem-card-photo {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--color-bg);
  background-color: transparent;
  overflow: hidden;
  position: relative;
}

.poem-card-content {
  flex-direction: column;
  transition: opacity 0.3s ease-in-out;
  box-shadow: 1px 1px 4px 4px color(--color-hl);
}

.poem-card-content > *[class^="poem-card"] {
  background-color: var(--color-fg);
}

.poem-card-photo {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;

  background-color: transparent;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;

  &.collapsed {
    width: 0vw;
    height: 0vw;
    overflow: hidden;
  }
}

.poem-card-text,
.poem-card-text-sizer {
  padding: 32px;
  /* height: calc(100% - 64px); */
  width: calc(100% - 64px);
}

/* .poem-card-text-sizer {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
} */

.poem-card-timestamp {
  /* position: absolute;
  bottom: 0; */
  width: calc(100% - 16px);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  /* background-color: var(--color-hl); */
  /* color: var(--color-fg); */
  /* text-shadow: 0 -1px var(--color-bg); */
  font-size: 0.7em;
  font-family: "Courier New", Courier, monospace;
  font-weight: 900;
  text-shadow: 0 -1px 2px black;
}

.poem-card-title {
  /* position: absolute; */
  /* top: 0; */
  width: calc(100% - 16px);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  text-transform: capitalize;
  /* border-radius: 8px; */
  /* background-color: var(--color-hl); */
  /* color: var(--color-fg); */
  text-decoration: underline;
  cursor: pointer;
}

.poem-card-text {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.poem-card-paper {
  position: absolute;
  width: 150%;
  height: 150%;
  mix-blend-mode: overlay;
  user-select: none;
  pointer-events: none;
  top: 0;
  left: 0;
}
