:root {
  --color-bg: rgba(25, 25, 25, 1);
  --color-fg: rgba(250, 250, 250, 1);
  --color-hl: color-mix(in srgb, maroon, rgba(0,0,0,0));
}

@font-face {
  font-family: default-regular;
  src: url("https://cdn.jsdelivr.net/gh/google/fonts@main/ofl/pacifico/Pacifico-Regular.ttf");
}

html {
  background-color: var(--color-bg);
}

body {
  margin: 0;
  font-family: default-regular, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
