name: Continuous Integration

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: write

jobs:
  build-check-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Setup
        uses: actions/setup-node@v4
        with:
          node-version-file: .nvmrc
      - uses: pnpm/action-setup@v4.0.0
        with:
          version: 7
          run_install: |
            args: [--no-frozen-lockfile]
      # - name: Lint
      #   run: |
      #     pnpm lint
      - name: Test
        env:
          CI: true
        run: |
          pnpm test -- --ci --coverage --watchAll=false
      - name: Build
        run: |
          if [ "$GITHUB_REF_NAME" = "main" ]; then
            export PUBLIC_URL="/"
          else
            export PUBLIC_URL="/${GITHUB_REF_NAME//\//-}"
          fi

          pnpm build
      - name: Report
        env:
          COVERALLS_GIT_BRANCH: ${{ github.ref_name }}
          COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}
        run: |
          pnpm coveralls
      - name: Deploy
        run: |
          export RELEASE_REF=${GITHUB_REF_NAME//\//-}
          pnpm release
